/* ==========================================================================
   Base Stylesheet
   _base.less
   ========================================================================== */

html, body {
	background-color: #65D4FF;
	h1, h2, h3, h4, h5, p {
		color: #FFF;
	}
}

.infovis-spin (@duration) {
    -webkit-animation: spin @duration infinite linear;
    -moz-animation: spin @duration infinite linear;
    -ms-animation: spin @duration infinite linear;
    -o-animation: spin @duration infinite linear;
    animation: spin @duration infinite linear;
}

.infovis-spinner {
	position: absolute;
	.infovis-spin(.5s);
	color: fade(#FFF, 80%);
	display: inline-block;
	margin-top: 3px;
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"] {
	border: 0px transparent none;
}

.infovis-button-icon {
	background-color: transparent;
	color: fade(#008cba, 70%);
	font-size: 14px;
	padding: 0;
	margin-left: 5px;
	&:hover {
		background-color: transparent;
		color: #008cba;
	}
	&.icon-add-circle-outline {
		font-size: 24px;
		margin-left: 0;
		margin-top: 5px;
	}
	&.icon-close, &.icon-check, &.icon-delete {
		font-size: 24px;
		margin-right: 10px
	}
}
