/* ==========================================================================
   Periodic Stylesheet
   periodic.less
   ========================================================================== */

.infovis-periodic {
	padding: 0 20px;
	.infovis-periodic-li {
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		opacity: 0.5;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		.infovis-periodic-image {
			border: 1px solid #FFF;
			border-radius: 3px;
			color: #FFF;
			font-size: 5em;
			text-align: center;
			padding: 10px;
			background-color: transparent !important;
		}
		&.infovis-periodic-new {
			font-size: 0.5em;
			border: 0px none;
			.infovis-periodic-image {
				padding: 40px inherit;
				color: #0B486B;
			}
		}
	}
}

// Small screens
@media only screen {
	.infovis-periodic .infovis-periodic-li .infovis-periodic-image {
		font-size: 3em;
	}
} /* Define mobile styles */

// Medium screens
@media only screen and (min-width: 40.063em) {
	.infovis-periodic .infovis-periodic-li .infovis-periodic-image {
		font-size: 5em;
	}
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
	.infovis-periodic .infovis-periodic-li .infovis-periodic-image {
		font-size: 7em;
	}
} /* min-width 1025px, large screens */
