/* ==========================================================================
   Periodic Stylesheet
   periodic.less
   ========================================================================== */

.infovis-periodic {
	.infovis-periodic-li {
		.infovis-periodic-image {
			border: 1px solid #65B3FF;
			border-radius: 3px;
			min-height: 80px;
		}
	}
}
