/* ==========================================================================
   Tooltip Stylesheet
   tooltip.less
   ========================================================================== */

.infovis-tooltip {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: fade(#000, 80%);
	border-radius: 3px;
	color: fade(#FFF, 90%);
	padding: 3px 5px;
}
