<!-- ko if: !auth.currentUser() -->
<div id="auth" class="screen">
	<div class="auth_home">
		<div class="content">
			<div class="icon-logo"></div>
			<div class="footer">
				<button class="button red" data-bind="tap: auth.goNew">Create an account</button><br />
				<button class="button clear" data-bind="tap: function() { auth.resetJoin(), auth.signInMode(true) }">Already have an account? <strong>Log in now</strong></button>
			</div>
		</div>
		<div class="bg">
			<div></div>
		</div>
	</div>
	<div class="auth_form panel" data-bind="slidePanelVisible: auth.signInMode">
		<form name="auth_signin" data-bind="submit: auth.signInUp, visible: auth.signInMode">
			<button type="button" class="icon-cross3 button icon" data-bind="tap: auth.close"></button>
			<button type="submit" class="button submit outline">Log in</button>
			<h2>Log in</h2>
			<div class="select icon-arrow-down5">
				<select class="auth_field" data-bind="options: auth.countryCodes, optionsText: 'country', value: auth.selectedCountry"></select>
			</div>
			<div class="countrycode">
				<span data-bind="text: '+' + auth.selectedCountry().code"></span>
				<input class="auth_field" name="auth_username" type="tel" placeholder="Phone" autocapitalize="off" data-bind="value: auth.signInPhoneNumber">
			</div>
			<input class="auth_field" name="auth_password" type="password" placeholder="Password">
			<button type="button" data-bind="tap: auth.goForgot" class="button clear forgot">Forgot password?</button><br />
			<button type="button" data-bind="tap: support.open" class="button clear forgot">Contact support</button>
		</form>
	</div>
	<div class="forgot panel" data-bind="slidePanelVisible: auth.forgotMode">
		<form name="auth_forgot" data-bind="submit: auth.resetPassword, visible: auth.forgotMode">
			<button type="button" class="icon-cross3 button icon" data-bind="tap: auth.close"></button>
			<button type="submit" class="button submit outline">reset</button>
			<h2>Forgot password</h2>
			<input class="auth_field" name="auth_forgotemail" type="email" placeholder="Email" autocapitalize="off">
			<p>We'll send you a link via email so you can reset your password.</p>
		</form>
	</div>
	<div class="signupphone panel" data-bind="slidePanelVisible: auth.signUpPhoneMode">
		<form name="auth_signupphone" data-bind="submit: auth.signUpPhone, visible: auth.signUpPhoneMode">
			<button type="button" class="icon-cross3 button icon" data-bind="tap: auth.close"></button>
			<button type="submit" class="button submit outline">Next</button>
			<h2>Step 1 of 3</h2>
			<div class="select icon-arrow-down5">
				<select data-bind="options: auth.countryCodes, optionsText: 'country', value: auth.selectedCountry"></select>
			</div>
			<div class="countrycode">
				<span data-bind="text: '+' + auth.selectedCountry().code"></span>
				<input class="auth_field" name="auth_phonenumber" type="tel" placeholder="Phone" autocapitalize="off">
			</div>
			<button type="button" data-bind="tap: support.open" class="button clear forgot">Contact support</button>
		</form>
	</div>
	<div class="verify side-panel" data-bind="shiftPanelVisible: auth.verifyMode">
		<form name="auth_verify" data-bind="submit: auth.verifyPhoneNumber, visible: auth.verifyMode">
			<button type="submit" class="button submit outline">verify</button>
			<button type="button" class="icon-arrow-left8 button icon" data-bind="tap: auth.goBackToStepOne"></button>
			<h2>Step 2 of 3</h2>
			<input class="auth_field" name="auth_verifycode" placeholder="Code" type="tel" autocapitalize="off">
			<p>ATTENTION: It may take up to a minute to arrive.</p>
			<button type="button" data-bind="tap: auth.sendVerifyCode" class="button clear forgot">Didn't get it? Send a new code</button><br />
			<button type="button" data-bind="tap: support.open" class="button clear forgot">Contact support</button>
		</form>
	</div>
	<div class="signup side-panel" data-bind="shiftPanelVisible: auth.signUpMode">
		<form name="auth_signup" data-bind="submit: auth.signInUp, visible: auth.signUpMode">
			<button type="button" class="icon-arrow-left8 button icon" data-bind="tap: auth.close"></button>
			<button type="submit" class="button submit outline">join</button>
			<h2>Step 3 of 3</h2>
			<input class="auth_field" name="auth_username" type="hidden" data-bind="value: auth.phoneNumber">
			<input class="auth_field" name="auth_email" type="email" placeholder="Email" autocapitalize="off">
			<input class="auth_field" name="auth_displayName" type="text" placeholder="First and Last name" autocapitalize="words">
			<input class="auth_field" name="auth_password" type="password" placeholder="Password">
			<input class="auth_field" name="auth_confirmPassword" type="password" placeholder="Confirm password">
			<p class="small">By signing up, you agree to the <span data-bind="tap: function() { auth.openLink('terms') }">Terms of Service</span> & <span data-bind="tap: function() { auth.openLink('privacy') }">Privacy Policy</span>
			<button type="button" data-bind="tap: support.open" class="button clear forgot">Contact support</button>
		</form>
	</div>
</div>
<!-- /ko -->