<div class="infovis-details" data-bind="with: details.active">
	<div data-bind="page: { id: '?', deep: 'chart', nameParam: function() { $root.details.slug($data.attributes.name) } }">
		<h1 class="infovis-details-h1 row">
			<span data-bind="attr: { class: 'infovis-details-thumb icon-' + attributes.icon }"></span>
			<span data-bind="text: attributes.name"></span>
		</h1>
		<button class="infovis-details-button icon-close" data-bind="click: $root.details.hide"></button>
		<div class="infovis-details-description row">
			<span class="large-8 columns" data-bind="text: attributes.description || 'No description provided', visible: !attributes.editing()"></span>
			<form data-bind="submit: $root.details.saveDescription, visible: attributes.editing">
				<textarea class="infovis-details-vizdescription" data-bind="value: attributes.description"></textarea>
				<button type="submit" class="infovis-button-icon icon-check"></button>
				<button type="button" class="infovis-button-icon icon-close" data-bind="click: $root.details.cancelEditDescription"></button>
			</form>
			<button class="infovis-button-icon icon-create" data-bind="click: $root.details.editDescription, visible: $root.auth.editMode() && !attributes.editing() && attributes.editable()"></button>
		</div>
		<div class="infovis-details-dosdonts row" data-bind="with: $root.details">
			<!-- ko if: dosDonts().length <= 0 && gettingDosDonts -->
			<div class="infovis-spinner icon-remove"></div>
			<!-- /ko -->
			<!-- ko if: dosDonts().length <= 0 && !gettingDosDonts() && !$root.auth.editMode() -->
			<div class="infovis-details-empty">Do or do not, but in this case, there is no guidance</div>
			<!-- /ko -->
			<!-- ko if: dosDonts().length > 0 || ($root.auth.editMode && !gettingDosDonts() )-->
			<div class="large-6 columns infovis-details-withplus">
				<h2 class="infovis-details-h2">Do</h2>
				<ul class="infovis-details-dolist" data-bind="template: { name: 'do-list-template', data: { list: $root.details.doList(), type: 'do' } }"></ul>
			</div>
			<div class="large-6 columns infovis-details-withplus">
				<h2 class="infovis-details-h2">Do not</h2>
				<ul class="infovis-details-dolist" data-bind="template: { name: 'do-list-template', data: { list: $root.details.dontList(), type: 'dont' } }"></ul>
			</div>
			<!-- /ko -->
		</div>
		<div class="infovis-details-links row infovis-details-withplus" data-bind="with: $root.details">
			<!-- ko if: links().length <= 0 && gettingLinks() -->
			<div class="infovis-spinner icon-remove"></div>
			<!-- /ko -->
			<!-- ko if: links().length <= 0 && !gettingLinks() && !$root.auth.editMode() -->
			<div class="infovis-details-empty">No resource links</div>
			<!-- /ko -->
			<!-- ko if: links().length > 0 || $root.auth.editMode -->
			<ol class="infovis-details-linklist">
				<!-- ko foreach: links -->
				<li class="infovis-details-linkitem">
					<div data-bind="visible: !attributes.editing()">
						<a class="infovis-details-link" data-bind="text: attributes.title, attr: { href: attributes.url }" target="_blank"></a>
						<button type="button" class="infovis-button-icon icon-create infovis-edit-item" data-bind="visible: attributes.editable() && $root.auth.editMode() && !$parent.editItem(), click: $parent.editLink"></button>
						<div class="infovis-spinner icon-remove" data-bind="visible: !attributes.editable()"></div>
					</div>
					<form data-bind="submit: function() { $root.details.saveLink($data) }, visible: attributes.editing">
						<input type="text" placeholder="New link name..." data-bind="value: attributes.title" />
						<input type="text" placeholder="New link URL..." data-bind="value: attributes.url" />
						<button type="submit" class="infovis-button-icon icon-check"></button>
						<button type="button" class="infovis-button-icon icon-close" data-bind="click: $parent.cancelEditLink"></button>
					</form>
				</li>
				<!-- /ko -->
				<li class="infovis-details-edititem" data-bind="visible: $root.auth.editMode() && !editItem(), click: function(item, e) { editLink(null, e) }">
					<button class="infovis-button-icon icon-add-circle-outline infovis-edit-plus"></button>
				</li>
				<li class="infovis-details-editfield" data-bind="visible: $root.auth.editMode() && editItem()">
					<form data-bind="submit: function() { saveLink(null) }">
						<input type="text" placeholder="New link name..." data-bind="value: newLinkName" />
						<input type="text" placeholder="New link URL..." data-bind="value: newLinkUrl" />
						<button type="submit" class="infovis-button-icon icon-check"></button>
						<button type="button" class="infovis-button-icon icon-close" data-bind="click: function() { cancelEditLink(null) }"></button>
					</form>
				</li>
			</ol>
			<!-- /ko -->
		</div>
	</div>
</div>


<script type="text/html" id="do-list-template">
	<!-- ko foreach: $data.list -->
	<li class="infovis-details-doitem">
		<div data-bind="visible: !attributes.editing()">
			<span data-bind="text: attributes.description"></span>
			<button type="button" class="infovis-button-icon icon-create infovis-edit-item" data-bind="visible: attributes.editable() && !$root.details.editItem() && $root.auth.editMode(), click: $root.details.edit"></button>
			<div class="infovis-spinner icon-remove" data-bind="visible: !attributes.editable()"></div>
		</div>
		<form data-bind="submit: function() { $root.details.save($data) }, visible: attributes.editing">
			<input type="text" placeholder="New item..." data-bind="value: attributes.description" />
			<button type="submit" class="infovis-button-icon icon-check"></button>
			<button type="button" class="infovis-button-icon icon-close" data-bind="click: $root.details.cancelEdit"></button>
		</form>
	</li>
	<!-- /ko -->
	<li class="infovis-details-edititem" data-bind="visible: $root.auth.editMode(), style: { opacity: $root.details.editItem() ? 0 : 1 }, click: function(item, e) { $root.details.edit(null, e) }">
		<button class="infovis-button-icon icon-add-circle-outline infovis-edit-plus"></button>
	</li>
	<li class="infovis-details-editfield" data-bind="visible: $root.auth.editMode() && $root.details.editItem()">
		<form data-bind="submit: function(item) { $root.details.save(null, item, $data.type) }">
			<input type="text" placeholder="New item..." data-bind="value: $root.details.newItem" />
			<button type="submit" class="infovis-button-icon icon-check"></button>
			<button type="button" class="infovis-button-icon icon-close" data-bind="click: function(item, e) { $root.details.cancelEdit(null, e) }"></button>
		</form>
	</li>
</script>
